[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Tea Time
GenericName=Timer
Exec=teatime.py
Icon=/usr/share/icons/gnome/48x48/actions/appointment.png
StartupNotify=true
Categories=GNOME;GTK;
