[Desktop Entry]
Type=Application
Name=Tea Time
GenericName=Timer
Keywords=egg;
Exec=teatime
Path=${SNAP}/usr/share/teatime/
Icon=${SNAP}/meta/gui/icon.svg
Terminal=false
Categories=Utility;GTK;
